/**********************************COMMONS********************************/
body {
    font-family: Inter, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.profesor-color{
    background-color: #118AB2;
}

.profesor-color-secundario{
    background-color: #073B4C;
}

.profesor-color-font{
    color: #073B4C;
}

.alumno-color{
    background-color: #073B4C;
}

.alumno-color-secundario{
    background-color: #049F76;
}

.alumno-color-font{
    color: #049F76;
}

/**********************************HEADER********************************/
header {
    color: white;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

header img {
    border-radius: 100%;
    object-fit: cover;
    width: 75px;
    height: 75px;
}

h4{
    color: white;
    font-size: 20px;
    font-weight: bold;
}

/*nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}*/

/**********************************HOME********************************/


.first-section {
    display: flex;
    flex-direction: row;
}

.first-section .container {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: space-between;
}

.first-section .container .class {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    padding: 4rem;
    color: white;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.first-section .container .qualification {
    padding: 4rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
    border-radius: 20px;
}

.first-section .container .qualification .container {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.first-section .container .qualification .container .rank {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}

.rank img {
    width: 74px;
    height: 74px;
}

.rank h3 {
    font-size: 96px;
}

.first-section .container .qualification .container .qualification-people {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1.5rem;
}

.qualification-people .person {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.person img {
    width: 24px;
    height: 24px;
    margin-right: 1rem;
    margin-top: 0.5rem;
}

.person .text {
    color: white;
    display: flex;
}

.first-section .classes {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 4rem;
    align-items: center;
    color: white;
    border-radius: 20px;
    margin: 0 15px;
}

.first-section .classes .container-classes {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.first-section .classes .container-classes .class {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.first-section .classes .container-classes .class .first-container {
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    border-radius: 20px 20px 0px 0px;
    justify-content: center;
    align-items: center;
}

.first-section .classes .container-classes .class .first-container img {
    width: 14px;
    height: 14px;
}

.first-section .classes .container-classes .class .second-container {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    border-radius: 0px 0px 20px 20px;
}

.first-section .classes .container-classes .class .second-container span {
    font-size: 20px;
    font-weight: bold;
}

/**********************************FOOTER********************************/
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

button {
    min-width: 40px;
    padding: 14px;
    color: white;
    border-radius: 6px;
    border: none;
    margin: 1rem;
}







