/**********************************COMMONS********************************/
body {
    font-family: Poppins, serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-size: cover;
}

.natacion {
    background-image: url("/assets/natacion.jpeg");
    background-position: center;
}

.elements {
    background-image: url("/assets/elements.jpg");
    background-position: center;
}

.gimnasia {
    background-image: url("/assets/gimnasia.jpeg");
}

.futbol {
    background-image: url("/assets/futbol.jpeg");
}

.pesas {
    background-image: url("/assets/exercise.jpeg");
}

.yoga {
    background-image: url("/assets/yoga.jpg");
}

.running {
    background-image: url("/assets/running.jpg");
}

.running2 {
    background-image: url("/assets/running2.jpg");
}

.talk {
    background-image: url("/assets/talk.jpg");
}

.aesthetic {
    background-image: url("/assets/aesthetic.jpg");
}

.funcional {
    background-image: url("/assets/funcional.jpg");
}

.exercise {
    background-image: url("/assets/exercise2.jpeg");
}

.basquet {
    background-image: url("/assets/basquet.jpg");
}

.marciales {
    background-image: url("/assets/marciales.webp");
}

.body-overlay {
    position: relative;
    background-color: rgba(7, 59, 76, 0.5);
    font-family: Poppins, serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.profesor-color {
    background-color: #118AB2;
}

.profesor-color-secundario {
    background-color: #073B4C;
}

.profesor-color-font {
    color: #073B4C;
}

.alumno-color {
    background-color: #073B4C;
}

.alumno-color-secundario {
    background-color: #049F76;
}

.alumno-color-font {
    color: #049F76;
}

.glass {
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
}

.container-error {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.container-error span.error {
    font-family: Dosis, serif;
    font-weight: 800;
    text-align: center;
    color: #073B4C;
    font-size: 18px;
}

ul {
    z-index: 999;
}

.no-data{
    width: 100%;
    display: flex;
    padding: 4rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.no-data .title{
    font-size: 22px;
    font-weight: 600;
}

.no-data .description{
    font-size: 18px;
    font-weight: 300;
}


/**********************************HEADER********************************/
header {
    color: white;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

header img {
    border-radius: 100%;
    object-fit: cover;
    width: 75px;
    height: 75px;
}

h4 {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

/*nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}*/

/**********************************HOME********************************/


.first-section {
    display: flex;
    flex-direction: row;
    margin: 2rem 0;
}

.first-section .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.first-section .container .class {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    padding: 4rem;
    color: white;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.first-section .container .qualification {
    padding: 4rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
    border-radius: 20px;
}

.first-section .container .qualification .container {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 2rem;
}

.first-section .container .qualification .container .rank {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}

.rank img {
    width: 74px;
    height: 74px;
}

.rank h3 {
    font-size: 96px;
}

.first-section .container .qualification .container .qualification-people {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1.5rem;
}

.qualification-people .person {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.person img {
    width: 24px;
    height: 24px;
    margin: 0;
}

.person .icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.person span.score {
    color: white;
    display: flex;
    font-weight: 800;
}

.person .lesson span {
    color: white;
    display: flex;
    font-weight: 600;
}

.person .text {
    color: white;
    display: flex;
}

.first-section .classes {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 4rem;
    align-items: center;
    color: white;
    border-radius: 20px;
    margin: 0 15px;
}

.first-section .classes .container-classes {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    gap: 2rem;
    margin: 2rem 0;
}

.first-section .classes .container-classes .class {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.second-section .classes .container-classes .class {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.classes .container-classes .class .first-container {
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    border-radius: 20px 20px 0px 0px;
    justify-content: center;
    align-items: center;
}

.first-section .classes .container-classes .class .first-container img {
    width: 14px;
    height: 14px;
}

.classes .container-classes .class .second-container {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    border-radius: 0px 0px 20px 20px;
}

.classes .container-classes .class .second-container span {
    font-size: 20px;
    font-weight: bold;
}


.classes .container-classes .class .second-container .container-span {
    width: 33.3%;
    display: flex;
    justify-content: center;
}

.second-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem 0;
}

.second-section .container {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: space-between;
}

.second-section .classes {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 4rem;
    align-items: center;
    color: white;
    border-radius: 20px;
    margin: 0 15px;
}

.second-section .classes .container-classes {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    gap: 3rem;
    margin: 3rem 0;
}

/**********************************FOOTER********************************/
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/*button {
    min-width: 40px;
    padding: 14px;
    color: white;
    border-radius: 6px;
    border: none;
    margin: 1rem;
}*/

.button {
    text-decoration: none;
    min-width: 40px;
    padding: 14px;
    color: white;
    border-radius: 6px;
    border: none;
    margin: 1rem;
}

.button:hover {
    text-decoration: none;
    color: white;
}

.button:focus {
    text-decoration: none;
    color: white;
}

/**********************************LOGIN********************************/

.container-login {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-login .container-img {
    display: flex;
    height: 100%;
    min-height: 100vh;
}

.container-login .container-img img {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}

.container-login .login {
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    background-color: white;
    padding: 1rem;
    width: 30%;
    min-height: 50%;
    border-radius: 20px;
}

.container-login .login .container-form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.container-login .login .container-form .form {
    gap: 2rem;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center
}

.container-login .login .container-form .form button {
    margin: 0
}

.container-login .login .container-form .container-link {
    gap: 1rem;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 1rem;
}

.container-login .login .container-form h1 {
    font-family: Dosis, serif;
    font-weight: 800;
    text-align: center;
    color: #073B4C;
    font-size: 48px;
}


/**********************************REGISTER********************************/

.container-register {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-register .container-img {
    display: flex;
    height: 100%;
    min-height: 100vh;
}

.container-register .container-img img {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}

.container-register .register {
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    background-color: white;
    padding: 1rem;
    width: 30%;
    min-height: 50%;
    border-radius: 20px;
}

.container-register .register .container-form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.container-register .register .container-form .form {
    gap: 2rem;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-register .register .container-form .form button {
    margin: 0
}

.container-register .register .container-form .container-link {
    gap: 1rem;
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 0 0 1rem 0;
}

.container-register .register .container-form h1 {
    font-family: Dosis, serif;
    font-weight: 800;
    text-align: center;
    color: #073B4C;
    font-size: 48px;
}


/***************************************TOPBAR******************************************/

.title-topbar {
    font-family: Dosis;
    font-weight: 700;
    color: white;
    font-size: 40px;
    text-decoration: none;
}

.title-topbar:hover {
    text-decoration: none;
    color: white;
}

.site-navbar {
    margin-bottom: 0px;
    z-index: 1999;
    top: 2rem;
    width: 100%;
}

.site-navbar .container-logo {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.site-navbar .container-logo img {
    width: 50px;
    border-radius: 0;
    height: 60px;
}

.site-navbar.transparent {
    background: transparent;
}

.site-navbar.absolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.site-navbar .site-logo {
    position: relative;
    left: 0;
    font-size: 24px !important;
}

.site-navbar .site-navigation .site-menu {
    margin-bottom: 0;
}

.site-navbar .site-navigation .site-menu .active > a span {
    background: #073B4C;
    color: #fff;
    border-radius: 30px;
    display: inline-block;
    padding: 5px 20px;
}

.site-navbar .site-navigation .site-menu a {
    text-decoration: none !important;
    display: inline-block;
}

.site-navbar .site-navigation .site-menu > li {
    display: inline-block;
}

.site-navbar .site-navigation .site-menu > li > a {
    padding: 10px 0px;
    color: #fff;
    font-size: 16px;
    text-decoration: none !important;
}

.site-navbar .site-navigation .site-menu > li > a > span {
    padding: 5px 20px;
    display: inline-block;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    border-radius: 30px;
}

.site-navbar .site-navigation .site-menu > li > a:hover > span {
    background: #049F76;
    color: #fff;
    border-radius: 30px;
    display: inline-block;
}

.site-navbar .site-navigation .site-menu .has-children {
    position: relative;
}

.site-navbar .site-navigation .site-menu .has-children > a span {
    position: relative;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown {
    visibility: hidden;
    opacity: 0;
    top: 100%;
    position: absolute;
    text-align: left;
    border-top: 2px solid #049F76;
    -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
    padding: 0px 0;
    margin-top: 20px;
    margin-left: 0px;
    background: #fff;
    -webkit-transition: 0.2s 0s;
    -o-transition: 0.2s 0s;
    transition: 0.2s 0s;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
    position: absolute;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
    bottom: 100%;
    left: 20%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown a {
    text-transform: none;
    letter-spacing: normal;
    -webkit-transition: 0s all;
    -o-transition: 0s all;
    transition: 0s all;
    color: #343a40;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown .active > a {
    color: #049F76 !important;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li {
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 200px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
    padding: 9px 20px;
    display: block;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover {
    background: #fafafb;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a {
    position: relative;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
    left: 100%;
    top: 0;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:active > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:focus > a {
    background: #fafafb;
}

.site-navbar .site-navigation .site-menu .has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children:focus > a, .site-navbar .site-navigation .site-menu .has-children:active > a {
    color: #049F76;
}

.site-navbar .site-navigation .site-menu .has-children:hover > a span, .site-navbar .site-navigation .site-menu .has-children:focus > a span, .site-navbar .site-navigation .site-menu .has-children:active > a span {
    background: #049F76;
    color: #fff;
}

.site-navbar .site-navigation .site-menu .has-children:hover, .site-navbar .site-navigation .site-menu .has-children:focus, .site-navbar .site-navigation .site-menu .has-children:active {
    cursor: pointer;
}

.site-navbar .site-navigation .site-menu .has-children:hover > .dropdown, .site-navbar .site-navigation .site-menu .has-children:focus > .dropdown, .site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
    border-radius: 6px;
    overflow: hidden;
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    margin-top: 0px;
    visibility: visible;
    opacity: 1;
}

.site-mobile-menu {
    width: 300px;
    position: fixed;
    right: 0;
    z-index: 2000;
    padding-top: 20px;
    background: #fff;
    height: calc(100vh);
    -webkit-transform: translateX(110%);
    -ms-transform: translateX(110%);
    transform: translateX(110%);
    -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
    box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
}

.offcanvas-menu .site-mobile-menu {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
}

.site-mobile-menu .site-mobile-menu-header {
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
    float: right;
    margin-top: 8px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
    font-size: 30px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 0px;
    line-height: 1;
    cursor: pointer;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
    color: #f8f9fa;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
    float: left;
    margin-top: 10px;
    margin-left: 0px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
    display: inline-block;
    text-transform: uppercase;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
    max-width: 70px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
    text-decoration: none;
}

.site-mobile-menu .site-mobile-menu-body {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: relative;
    padding: 0 20px 20px 20px;
    height: calc(100vh - 52px);
    padding-bottom: 150px;
}

.site-mobile-menu .site-nav-wrap {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

.site-mobile-menu .site-nav-wrap a {
    padding: 10px 20px;
    display: block;
    position: relative;
    color: #212529;
}

.site-mobile-menu .site-nav-wrap a:hover {
    color: #007bff;
}

.site-mobile-menu .site-nav-wrap li {
    position: relative;
    display: block;
}

.site-mobile-menu .site-nav-wrap li.active > a {
    color: #007bff;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse {
    position: absolute;
    right: 0px;
    top: 10px;
    z-index: 20;
    width: 36px;
    height: 36px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
    background: #f8f9fa;
}

.site-mobile-menu .site-nav-wrap > li {
    display: block;
    position: relative;
    float: left;
    width: 100%;
}

.site-mobile-menu .site-nav-wrap > li > a {
    padding-left: 20px;
    font-size: 20px;
}

.site-mobile-menu .site-nav-wrap > li > ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.site-mobile-menu .site-nav-wrap > li > ul > li {
    display: block;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > a {
    padding-left: 40px;
    font-size: 16px;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > ul {
    padding: 0;
    margin: 0;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
    display: block;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
    font-size: 16px;
    padding-left: 60px;
}

.site-mobile-menu .site-nav-wrap[data-class="social"] {
    float: left;
    width: 100%;
    margin-top: 30px;
    padding-bottom: 5em;
}

.site-mobile-menu .site-nav-wrap[data-class="social"] > li {
    width: auto;
}

.site-mobile-menu .site-nav-wrap[data-class="social"] > li:first-child a {
    padding-left: 15px !important;
}

header .container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
}

header .container .row {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

/****************************************TABLES*********************************************/

.table .table {
    background-color: transparent;
!important;
}

body.signin div.lessons main.lessons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main.lessons .table .container {
    background-color: #073B4C;
    border-radius: 40px;
    padding: 4rem;
    color: white;
    max-height: 60vh;
}

main.lessons .table .container::-webkit-scrollbar {
    width: 8px; /* Ancho del scrollbar */
    border-radius: 6px;
}

main.lessons .table .container::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color de fondo del track (fondo del scrollbar) */
    border-radius: 6px;
}

main.lessons .table .container::-webkit-scrollbar-thumb {
    background-color: #049F76; /* Color del thumb (la barra móvil del scrollbar) */
    border-radius: 6px;
}

main.lessons .table .container::-webkit-scrollbar-thumb:hover {
    background-color: rgba(4, 159, 118, 0.5); /* Color del thumb al pasar el cursor sobre él */
    border-radius: 6px;
}

main.lessons select {
    background-color: #073B4C;
    padding: 1rem;
    border: 1px white solid;
    border-radius: 10px;
    margin: 2rem;
}

main.lessons select:focus {
    outline: none;
    box-shadow: none;
    border: 1px white solid;
}

main.lessons h3{
    text-align: center;
    width: 100%;
}


.table-hover > tbody > tr:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

td {
    color: white;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 2rem 1rem;
    vertical-align: middle;
}

/**************************************FORMS************************************/
#form {
    background-color: #073B4C;
    border-radius: 40px;
    padding: 4rem;
    color: white;
}

#form .calificate-lesson {
    gap: 2rem;
    display: flex;
    flex-direction: column;
}

#form .lesson-form {
    gap: 2rem;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    justify-content: center;
    margin: 5rem 0;
}

/**************************************PROFILE************************************/

main.profile {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 4rem auto;
    gap: 4rem;
}

main.profile .profile {
    padding: 4rem;
    border-radius: 20px;
    gap: 4rem;
    font-size: 18px;
    color: white;
    height: 50vh;
    display: flex;
    flex-direction: column;
}

main.profile .profile .title {
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    width: 100%;
    display: block;
}

.profile .profile .description {
    gap: 2rem;
    display: flex;
    flex-direction: column;
}

.profile .profile .description #userDescription .name {
    font-weight: 800;
}

.profile .profile .description #userDescription .age {
    font-weight: 800;
}

.profile .profile .description #userDescription .email {
    font-weight: 800;
}

.profile .profile .description #userDescription #name {
    font-weight: 500;
}

.profile .profile .description #userDescription #age {
    font-weight: 500;
}

.profile .profile .description #userDescription #email {
    font-weight: 500;
}

main.profile .preferences {
    padding: 4rem;
    border-radius: 20px;
    gap: 3rem;
    width: 75%;
}

main.profile .preferences .title {
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    width: 100%;
    display: block;
    color: white
}

main.profile .preferences .list {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    font-size: 18px;
    margin: 4rem 0;
    flex-wrap: wrap;
    justify-content: center;
}

main.profile .preferences .list .item {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    font-weight: 500;
    align-items: baseline;
}

main.profile .preferences .list .item label {
    font-weight: 400;
}

@media (min-width: 1022px) and (max-width: 1600px) {
    .first-section {
        flex-direction: column-reverse;
        align-items: center;
    }

    .first-section .classes {
        width: 90%;
        margin: 5rem 0;
    }

    .second-section .classes {
        width: 90%;
        margin: 3rem 0;
    }

    .second-section .classes .container-classes .class {
        width: 90%;
    }

    .first-section .container {
        width: 100%;
        align-items: center;
        padding: 0;
        margin-bottom: 3rem;
    }

    .first-section .container .class {
        width: 100%;
        border-radius: 0;
    }

    .first-section .container .qualification {
        width: 90%;
        margin: 2rem 0;
    }

    .qualification-people .person {
        align-items: center;
    }

    .first-section .classes .container-classes .class {
        margin: 2rem 0;
    }

    .container-register .register {
        width: 50%;
    }

    .container-login .login {
        width: 50%;
    }
}

/* Estilos para pantallas medianas (tablets) */
@media (min-width: 768px) and (max-width: 1023px) {
    .first-section {
        flex-direction: column-reverse;
        align-items: center;
    }

    .first-section .classes {
        width: 90%;
        margin: 5rem 0;
    }

    .second-section .classes {
        width: 90%;
        margin: 3rem 0;
    }

    .second-section .classes .container-classes .class {
        width: 90%;
    }

    .first-section .container {
        width: 100%;
        align-items: center;
        padding: 0;
        margin-bottom: 3rem;
    }

    .first-section .container .class {
        width: 100%;
        border-radius: 0;
    }

    .first-section .container .qualification {
        width: 90%;
        margin: 2rem 0;
    }

    .qualification-people .person {
        align-items: center;
    }

    .first-section .classes .container-classes .class {
        margin: 2rem 0;
    }

    .container-register .register {
        width: 70%;
    }

    .container-login .login {
        width: 70%;
    }
}

@media (max-width: 767px) {
    .first-section {
        flex-direction: column-reverse;
        align-items: center;
    }

    .first-section .classes {
        width: 90%;
    }

    .second-section .classes {
        width: 90%;
        margin: 5rem 0;
    }

    .second-section .classes .container-classes .class {
        width: 90%;
    }

    .first-section .container {
        width: 100%;
        align-items: center;
        padding: 0;
        margin-bottom: 3rem;
    }

    .first-section .container .class {
        width: 100%;
        border-radius: 0;
    }

    .first-section .container .qualification {
        width: 90%;
        margin: 2rem 0;
    }

    .qualification-people .person {
        align-items: center;
    }

    .first-section .classes .container-classes .class {
        margin: 2rem 0;
    }

    .container-register .register {
        width: 85%;
    }

    .container-login .login {
        width: 85%;
    }
}

/****************************************BOTONES*****************************************/


.btn {
    margin: 0;
    background-color: #049F76;
    color: white;
    transition: background-color 0.3s ease;
    padding: 1.25rem;
}

.btn:hover {
    margin: 0;
    background-color: #02684d;
    color: white;
}

.btn:focus {
    margin: 0;
    background-color: #02684d;
    color: white;
}

.btn-secondary {
    margin: 0;
    background-color: #073B4C;
    color: white;
    transition: background-color 0.3s ease;
    padding: 1.25rem;
    border: none;
}

.btn-secondary:hover {
    margin: 0;
    background-color: #052d3a;
    color: white;
    border: none;
}

.btn-secondary:focus {
    margin: 0;
    background-color: #052d3a;
    color: white;
    border: none;
}

.btn-cancel {
    margin: 0;
    background-color: #999;
    color: white;
    transition: background-color 0.3s ease;
    padding: 0.75rem;
}

.btn-cancel:hover {
    margin: 0;
    background-color: #888;
    color: white;
}

.btn-cancel:focus {
    margin: 0;
    background-color: #888;
    color: white;
}

.btn-small {
    padding: 6px 12px;
}

/*********************************CARDS PROFILE***********************************/
.list .card {
    width: 15%;

}

.quiz_title {
    font-size: 30px;
    font-weight: 700;
    color: #292d3f;
    text-align: center;
    margin-bottom: 50px;
}

.quiz_card_area {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.single_quiz_card {
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -khtml-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.quiz_card_title {
    padding: 10px;
    text-align: center;
    background-color: #d6d6d6;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;;
}

.quiz_card_title h3 {
    font-size: 16px;
    font-weight: 400;
    color: #292d3f;
    margin: 0;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -khtml-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.quiz_card_icon {
    max-width: 100%;
    min-height: 135px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #073B4C;
}

.quiz_icon {
    width: 70px;
    height: 75px;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -khtml-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.quiz_icon1 {
    background-image: url('/assets/natacion.jpeg');
    display: block;
    width: 100%;
    height: 150px;
    background-size: cover;
    background-position: inherit;
    opacity: 0.5;
}

.quiz_checkbox {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    cursor: pointer;
}

.quiz_checkbox:checked ~ .single_quiz_card .quiz_card_content .quiz_card_title {
    background-color: #049F76;
    color: #ffffff;
}

.quiz_checkbox:checked ~ .single_quiz_card .quiz_card_content .quiz_card_title h3 {
    color: #ffffff;
}

.quiz_checkbox:checked ~ .single_quiz_card .quiz_card_content .quiz_card_title h3 i {
    opacity: 1;
}

/*Icon Selector*/

.quiz_checkbox:checked ~ .single_quiz_card .quiz_card_content .quiz_card_icon {
    color: #049F76;
}

.quiz_checkbox:checked ~ .single_quiz_card .quiz_card_content .quiz_card_icon .quiz_icon1 {
    display: block;
    width: 100%;
    height: 150px;
    background-size: cover;
    background-position: inherit;
    opacity: 1;
}

.quiz_card_icon {
    font-size: 50px;
    color: #000000;
}

.quiz_backBtn_progressBar {
    position: relative;
    margin-bottom: 60px;
}

.quiz_backBtn {
    background-color: transparent;
    border: 1px solid #d2d2d3;
    color: #8e8e8e;
    border-radius: 50%;
    position: absolute;
    top: -17px;
    left: 0px;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none !important;
}

.quiz_backBtn:hover {
    color: #a9559b;
    border: 1px solid #049F76;
}

.quiz_backBtn_progressBar .progress {
    margin-left: 50px;
    margin-top: 50px;
    height: 6px;
}

.quiz_backBtn_progressBar .progress-bar {
    background-color: #049F76;
}

.quiz_next {
    text-align: center;
    margin-top: 50px;
}

.quiz_continueBtn {
    max-width: 315px;
    background-color: #049F76;
    color: #ffffff;
    font-size: 18px;
    border-radius: 20px;
    padding: 10px 125px;
    border: 0;
}

/**************************************DETALLE DE CLASE************************************/

main .lesson-detail{
    background-color: #073B4C;
    border-radius: 40px;
    padding: 4rem;
    color: white;
}

main .lesson-detail h2{
    font-size: 30px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

main .lesson-detail p{
    font-size: 20px;
    margin: 0 auto 2rem auto;
    width: 100%;
    text-align: center;
}

main .lesson-detail .container-detail{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

main .lesson-detail .description {
    font-size: 20px;
    font-weight: 700;
}

main .lesson-detail .detail{
    font-size: 18px;
    font-weight: 300;
}

/*********************************SUGGESTED***********************************/

.suggested{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 4rem;
    width: 90%;
    margin-bottom: 4rem;
    color: white;
}